<section class="hero-section">
    <div class="overlay"></div>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <mat-card class="login-card">
                        <h3 class="text-center">Login Here</h3>
                        <form (ngSubmit)="userloginData()" >

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input required="" [(ngModel)]="logindata.username" matInput name="username"
                                    placeholder="Enter username">
                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input required="" [(ngModel)]="logindata.password" matInput type="password" name="password"
                                    placeholder="Enter password">
                            </mat-form-field>

                            <div class="btn-group">
                                <button mat-raised-button color="primary" type="submit">Login</button>
                                <button mat-raised-button color="warn" type="reset">Reset</button>
                            </div>

                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- 



    <section class="hero-section">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <mat-card>
                        
                        <h3 class="text-center">Login hear !!</h3>
                        <form action="">

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Name</mat-label>
                                <input name="username" class="full-width" matInput placeholder="enter hear">

                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input name="password" type="password" class="full-width" matInput
                                    placeholder="enter hear">

                            </mat-form-field>

                            <div class=" text-center">
                                <button type="submit" matButton="filled">login</button>
                                <button type="reset" matButton="filled">Rest</button>
                            </div>


                        </form>
                        <br>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</section> -->